# Setup environment for eureka-sidecar local development

# Set these variables to be loaded by AWS API clients
AWS_SECRET_ACCESS_KEY=notyetset
AWS_ACCESS_KEY_ID=notyetset
AWS_DEFAULT_REGION=us-east-1

# This assumes you have a Eureka instance at the following address
# See https://github.com/SplunkStorm/eureka-cluster
export EUREKA_URL=http://192.168.100.31:8080/eureka
