# Setup environment for eureka-sidecar local development

# This assumes you have a Eureka instance at the following address
# See https://github.com/SplunkStorm/eureka-cluster
export EUREKA_URL=http://192.168.100.31:8080/eureka
